*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

img {
  display: block;
}

body {
  background: #131518;
  counter-reset: step-counter;
  font-family: 'Overpass', sans-serif;
  font-size: .9rem;
  font-weight: 400;
}

.card {
  background: radial-gradient(#232A34, #181E27);
  border-radius: 2rem;
  color: white;
  height: 26rem;
  margin: 0 auto;
  padding: 2rem;
  width: 25.75rem;

  @media screen and (max-width: 470px) {
    padding: 1.5rem;
    width: 20.44rem
  }

  &__button {
    border: none;
    background-color: #FC7614;
    border-radius: 3rem;
    color: white;
    letter-spacing: .125rem;
    padding: 1rem 9rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s;

    &:hover {
      background-color: white;
      color: #FC7614;
    }

    @media screen and (max-width: 470px) {
      padding: 1rem 6.7rem;
    }
  }

  &--container {
    margin-top: 12.18rem;
    position: relative;
  }

  &__back {
    background-color: #AB5CDB;
    position: absolute;
    left: 50%;
    margin-left: -12.875rem;
    text-align: center;
    top: 0;
    z-index: -1;

    @media screen and (max-width: 470px) {
     margin-left: -9.22rem;
    }
  }

  &__front {
    transition: all 1s;
  }

  &__image {
    margin: 2.81rem auto 2rem;
    width: 10.125rem;
  }

  &__logo {
    background-color: #262E38;
    background-image: url("../images/icon-star.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 3rem;
    margin-bottom: 1.9rem;
    width: 3rem;
  }

  &__ratings {
    background-color: #262E38;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    color: #7C8798;
    font-size: 1rem;
    height: 3.2rem;
    margin-bottom: 1.9rem;
    position: relative;
    transition: all .5s;
    width: 3.2rem;

    &:focus {
      background-color: #FC7614;
      color: white;
    }

    &:hover {
      background-color: #7C8798;

      &:hover::before {
        color: white;
      }
    }

    &--container {
      display: flex;
      justify-content: space-between;
    }

    &::before {
      bottom: 1.125rem;
      color: #7C8798;
      content: counter(step-counter);
      counter-increment: step-counter;
      left: 1.25rem;
      position: absolute;
    }
  }

  &__text {
    color: #969FAD;
    margin-bottom: 2rem;
    max-width: 90%;
    line-height: 1.5rem;

    &--back {
      color: #969FAD;
      line-height: 1.5rem;
      margin: 0 auto;
      width: 80%;
    }

    &--container {
      background-color: #262E38;
      border-radius: 1.4rem;
      height: 2rem;
      margin: 0 auto 2rem;
      padding-top: 0.5rem;
      width: 12rem;
    }

    &--selected {
      color: #FC7614;
    }
  }

  &__title {
    &--front {
      font-size: 1.75rem;
      font-weight: 400;
      margin-bottom: .375rem;
    }

    &--back {
      margin-bottom: .5rem;
    }
  }
}

.attribution {
  color: #AB5CDB;
  padding-top: 1rem;
  font-size: .7rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}