*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
}

body {
  background: #131518;
  counter-reset: step-counter;
  font-family: 'Overpass', sans-serif;
  font-size: .9rem;
  font-weight: 400;
}

.card {
  background: radial-gradient(#232A34, #181E27);
  border-radius: 2rem;
  color: white;
  height: 416px;
  margin: 0 auto;
  width: 25.75rem;
  padding: 2rem;

  &__button {
    border: none;
    background-color: #FC7614;
    border-radius: 50px;
    color: white;
    letter-spacing: 2px;
    padding: 1rem 12rem;
    text-align: center;
    text-transform: uppercase;
  }

  &--container {
    position: relative;
  }

  &__back {
    background-color: #AB5CDB;
    position: absolute;
    left: 50%;
    margin-left: -206px;
    text-align: center;
    top: 0;
    z-index: -1;
  }

  &__front {
    transition: all 1s;
  }

  &__image {
    margin: 2.81rem auto 2rem;
    width: 10.125rem;
  }

  &__logo {
    background-color: #262E38;
    background-image: url("../images/icon-star.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 3rem;
    margin-bottom: 1.9rem;
    width: 3rem;
  }

  &__ratings {
    background-color: #262E38;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    height: 3.2rem;
    margin-bottom: 1.9rem;
    position: relative;
    transition: all .5s;
    width: 3.2rem;

    &:focus {
      background-color: #FC7614;
      color: white;
    }

     &:hover {
      background-color: #7C8798;

     &:hover::before {
       color: white;
     }
    }

    &--container {
      display: flex;
    }

    &::before {
      bottom: 1.125rem;
      color: #7C8798;
      content: counter(step-counter);
      counter-increment: step-counter;
      left: 1.25rem;
      position: absolute;
    }
  }

  &__text  {
    color: #969FAD;
    margin-bottom: 2rem;
    max-width: 85%;
    line-height: 1.5rem;

    &--back {
      color: #969FAD;
      line-height: 1.5rem;
      margin: 0 auto;
      width: 80%;
    }

    &--container {
      background-color: #262E38;
      border-radius: 22px;
      height: 2rem;
      margin: 0 auto 2rem;
      padding-top: 0.5rem;
      width: 192px;
    }

    &--selected {
      color: #FC7614;
    }
  }

  &__title {
    font-size: 1.75rem;
    margin-bottom: .5rem;
  }
}

.attribution {
  color: #AB5CDB;
  padding-top: 1rem;
  font-size: .7rem; text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}